*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:linear-gradient(135deg,#ff4d6d,#ff85a2,#ffd6e0);
overflow:hidden;
color:white;
text-align:center;
}

#intro{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
animation:fadeIn 2s;
}

.title{
font-size:50px;
animation:zoom 2s infinite alternate;
}

.subtitle{
margin-top:15px;
font-size:22px;
}

.name{
font-size:60px;
color:#fff;
text-shadow:0 0 20px #ff0080;
margin:20px 0;
}

.love{
font-size:22px;
margin-bottom:30px;
}

button{
padding:15px 40px;
font-size:20px;
border:none;
border-radius:50px;
background:white;
color:#ff0066;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:scale(1.1);
}

#movie{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.slideshow{
position:relative;
width:320px;
height:420px;
border-radius
